body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	background-color: #fff;
	color: white;
}

.titlebar {
  display: inline-block;
  width: 100%;
  height: 240px;
  background-color: #ddd;
  text-align: center;
}

.compensate-for-nav-stuck {
  margin-bottom: 50px;
}

.page-body {
	padding-top: 50px;
	margin-top: -50px;
	background-color: #628CA1;
	box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.artist-name {
  text-align: center;
}

#map {
	height: 300px;
	width: 350px;
	margin-bottom: 10px;
}

/* floating effect on hover from here */
/* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.vfas-thumbnail {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.2s ease-in-out;
}
.vfas-thumbnail::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  transition: opacity 0.2s ease-in-out;
}
.vfas-thumbnail:hover {
  transform: scale(1.1, 1.1);
}
.vfas-thumbnail:hover::after {
  opacity: 1;
}

.sponsors {
	width: 100%;
	margin-bottom: 120px;
}
#moontower {
	width: 230px;
	height: auto;
}

#creativelex {
	margin-left: 5%;
	width: 90px;
	height: auto;
}

#tickets {
	border: .5em solid #9CB3BF;
  font-size: 1.4em;
	padding: 10px;
}

.location {
	margin-bottom: 20px;
}

#parking {
	height: 305px;
	margin-bottom:10px;
}

.center-text {
	text-align: center;
}

#buy-tickets {
	width: 180px;
	height: 60px;
	margin: 0 auto;
  color: white;
  background-color: #9CB3BF;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-duration: 0.3s;
  border-style: none;
}

#buy-tickets:hover, #buy-tickets:active, #buy-tickets:link {
    color: white;
    text-decoration: none;
    font-style: none;
    /* red color when hovered */
    background-color: #831800;
}

.nav li {
	text-align: center;
}

.nav-stuck {
  position: fixed;
  top: 0px;
  z-index: 100;
}

.nav-container {
  width: 100%;
  padding: 0px;
  height: 50px;
  opacity: 0.85;
}

#footer {
	text-align: center;
	padding-top: 10px;
	margin: -80px 0px;
	opacity: 0.7;
	width: 100%;
	height: 50px;
	background-color: #ddd;
}
